body {
    background-image: url(./shara\ desert.jpg);
    background-position: center;
    background-size: cover;
}

a {
    text-decoration: none;
}

.nav_menue {
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

.nav_bar {
    height: 12%;
    display: flex;
    align-items: center;
}

#logo {
    width: 50px;
}

.menuimage {
    width: 30px;
    margin-left: 40px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

nav ul li a {
    font-size: 13px;
    color: aliceblue;
}

#parentcontainer {
    display: flex;
    height: 88%;
    align-items: center;
    padding-left: 8%;
}

.child {
    flex-basis: 50%;
}

h1 {
    font-size: 52px;
    color: aliceblue;
}

p {
    font-size: 100%;
    line-height: 15px;
    color: aliceblue;
}

button {
    width: 180px;
    font-size: 12px;
    padding: 12px 0px;
    background-color: white;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}

.child_item {
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
}

.child_item:hover {
    transition: all 0.5s;
    transform: translateY(-10px);
}

.ch_1 {
    background-image: url(./pic-1.png);
}

.ch_2 {
    background-image: url(./pic-2.png);
}

.ch_3 {
    background-image: url(./pic-3.png);
}

.ch_4 {
    background-image: url(./pic-4.png);
}

h5 {
    color: aliceblue;
}

.child_item p {
    color: aliceblue;
}

/* _______________MEDIA QUERY_______________ */

@media only screen and (max-width: 667px) and (min-width: 200px) {
    nav ul li {
        list-style: none;
        display: inline-block;
        margin-left: 25px;
    }

    nav {
        position: absolute;
    }

    .nav_menue {
        display: inline-block;
    }

    .menuimage {
        position: absolute;
        left: 269px;
        top: 18px;
    }

    h5 {
        font-size: 100%;
    }

    h1 {
        font-size: 100%;
        color: aliceblue;
        text-align: center;
    }

    p {
        font-size: 100%;
        line-height: 15px;
        color: aliceblue;
        text-align: center;
    }

    button {
        width: 180px;
        font-size: 12px;
        padding: 12px 0px;
        background-color: white;
        border-radius: 20px;
        align-items: center;
        margin-left: 40px;
    }

    #parentcontainer {
        display: flex;
        height: 88%;
        align-items: center;
        padding-left: 8%;
    }

    .child {
        flex-basis: 100%;
    }

    .child_item {
        width: 200px;
        height: 230px;
        display: inline-block;
        border-radius: 10px;
        padding: 15px 25px;
        box-sizing: border-box;
        cursor: pointer;
        margin: 10px 15px;
        background-position: center;
        background-size: cover;
    }

    .p_c_1 {
        width: 276px;
        height: 174px;
        border-radius: 10px;
        box-sizing: border-box;
        cursor: pointer;
        background-position: center;
        background-size: cover;
        margin: auto;
    }

    .p_c_2 {
        width: 365px;
        height: 174px;
        border-radius: 10px;
        box-sizing: border-box;
        cursor: pointer;
        background-position: center;
        background-size: cover;
        margin: auto;
    }

    .child_item:hover {
        transition: all 0.5s;
        transform: translateY(-10px);
    }
}

@media only screen and (max-width: 830px) and (min-width: 667px) {
    h5 {
        font-size: 100%;
    }

    h1 {
        font-size: 100%;
        color: aliceblue;
        text-align: center;
    }

    p {
        font-size: 100%;
        line-height: 15px;
        color: aliceblue;
        text-align: center;
    }

    button {
        width: 180px;
        font-size: 12px;
        padding: 12px 0px;
        background-color: white;
        border-radius: 20px;
        align-items: center;
        margin-left: 40px;
    }

    #parentcontainer {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .child{
        flex-basis: 0%;
    }
    .child_item {
        width: 190px;
        height: 150px;
        display: inline-block;
        border-radius: 10px;
        padding: 10px;
        box-sizing: border-box;
        margin: 10px;
        background-position: center;
        background-size: cover;
    }

    .p_c_1 {
        width: 276px;
        height: 174px;
        border-radius: 10px;
        box-sizing: border-box;
        cursor: pointer;
        background-position: center;
        background-size: cover;
    }

    .p_c_2 {
        width: 505px;
        height: 184px;
        border-radius: 10px;
        box-sizing: border-box;
        cursor: pointer;
        background-position: center;
        background-size: cover;
        display: flex;
    }

    .child_item:hover {
        transition: all 0.5s;
        transform: translateY(-10px);
    }
}